@tailwind base;
@tailwind components;
@tailwind utilities;

.login {
    padding-top: 1rem;
    background-image: url('/img/dog-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}


@media only screen and (max-width: 768px) {
    .login {
        background-image: none;
    }
}
